.skill {
	display: inline-block;
	margin-right: .25rem;
	padding: .25em .4em;
	color: #fff;
	font-weight: 400;
	font-size: 75%;
	line-height: 1;
	white-space: nowrap;
	text-align: center;
	vertical-align: baseline;
	background-color: #6c757d;
	border-radius: .25rem;
	-webkit-print-color-adjust:exact;
}