.container {
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}

.line {
	flex: 1;
	height: 1px;
	background-color: #000;
}

.title {
	color: #000;
	font-weight: 500;
	font-size: 24px;
	text-align: center;
}

.introduce {
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
	border-left: 1px solid #000;
}

.updateWrap {
	text-align: right;
}

.lastUpdate {
	font-weight: 600;
	font-size: 80%;
}

.updateDate {
	margin-left: 0.5rem;
	font-size: 80%;
}