.localeWrap {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
	padding: 16px;
	font-size: 14px;
	line-height: 1.6;
	text-align: center;
	border: 1px solid #a7a7a7;
}

.link {
	list-style-type: none;
	
	&:hover {
		filter: drop-shadow(2px 5px 7px #757575);
		transition: 0.1s;
	}
}

.localeLink {
	margin-left: 0;
}