.header * {
	box-sizing: border-box;
}

.header {
	width: 100%;
}

.locale {
	display: grid;
	gap: 8rem;
	max-width: 60rem;
	margin-right: auto;
	margin-left: auto;
	padding-top: 1.5rem;
	justify-items: right;
}

.localeIcon {
	width: 32px !important;
	height: 33px !important;
	background-image: url(./assets/locale.svg);
	background-repeat: no-repeat;
	background-position-x: -4px;
	background-size: cover;
	cursor: pointer;
}

.localeWrap {
	position: absolute;
	right: 17rem;
	z-index: 1;
	padding: 8px 24px;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 8px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s ease-out;

	li {
		list-style-type: none;
	}

	&[data-hover='true'] {
		visibility: visible;
		opacity: 1;
	}
}

.localeLink {
	margin-left: 0;
}
