.header * {
	box-sizing: border-box;
}

.header {
	width: 100%;
}

.menu {
	position: absolute;
	top: 4px;
	left: 10%;
	z-index: 200;
	width: 65px;
	background: #fff;
	box-shadow: 0 1px 5px 0 rgb(0 0 0 / 0.3);
}

.leftWidth {
	left: -100% !important;
}

.locale {
	display: grid;
	gap: 8rem;
	max-width: 60rem;
	margin-right: auto;
	margin-left: auto;
	padding-top: 1.5rem;
	justify-items: right;
}

.localeContainer {
	position: relative;
	display: flex;
	gap: 1rem;
	align-items: center;
	cursor: pointer;
}

.localeIcon {
	display: block;
	width: 32px;
	height: 33px;
	background-image: url(./assets/locale.svg);
	background-repeat: no-repeat;
	background-position-x: -4px;
	background-size: cover;
	cursor: pointer;
}

.pdf:hover {
	color: #aeaeae;
}