.skillItem {
	display: flex;
	align-items: flex-start;
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 2rem;
	border-bottom: 1px rgb(234 236 238) solid;
}

.title {
	flex: 0 0 25%;
	max-width: 30%;
	margin-right: 15px;
	padding: 0 15px;
	font-size: 1.3rem;
	text-align: right;
}

.skillWrap {
	width: 100%;
	padding-left: 50px;
}

.skillList {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 10px;
}

@media (max-width: 768px) {
	.skillList {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 530px) {
	.skillItem {
		flex-direction: column;
		width: 100%;
	}

	.title {
		width: 100%;
		max-width: 100%;
		margin-right: 10px;
		margin-bottom: 10px;
		padding: 0 10px;
		font-size: 1.2rem;
		text-align: left;
	}

	.skillWrap {
		padding-left: 30px;
	}

	.skillList {
		grid-template-columns: 1fr;
	}
}