.experience {
	display: flex;
	align-items: flex-start;
	margin-bottom: 20px;
}

.details {
	flex: 1;
	max-width: 150px;
	margin-right: 20px;
	padding-bottom: 15px;
	text-align: right;
	border-bottom: 1px #888 solid;
}

.companyImg {
	width: 8rem;
	max-width: 100%;
	height: 8rem;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(234 236 238);
	border-radius: 8px;
	object-fit: contain;
}

.title {
	margin: 0;
	font-weight: bold;
	font-size: 16px;
}

.companyName {
	margin: 5px 0;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 2rem;
}

.duration {
	font-size: 1rem;
}

.divider {
	width: 1px;
	height: 150px;
	margin-right: 20px;
	background-color: #ccc;
}

.description {
	flex: 2;
	margin: 0;
	padding: 0;
	list-style-position: inside;
	list-style-type: disc;
}

.description li {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.6;
}
