.aboutMeWrap {
    display: flex;
    justify-content: space-between;
}

.introduction {
    line-height: 1.15;
}

.profileImg {
    width: 200px;
    height: 200px;
}

// .description {
//     > li::marker {
//         color: red;
//         font-size: 1.5em;
//     }
// }