.aboutMeWrap {
	display: flex;
	justify-content: space-between;
}

.introduction {
	line-height: 1.15;
	
	> h2 {
		color: #717171;
		> i {
			color: #000000;
			font-style:normal;
		}
	}
}

.profileWrap {
	display: flex;
	align-items: center;
}

.profileImg {
	height: 267.5px;
	border-radius: 20px;
}

.description {
	padding-top: 35px;
	list-style-type: disc;

	li {
		display: flex;
		align-items: center;
		line-height: 2.0rem;
		list-style-type: none;
	}

	i {
		width: 1.5rem;
		height: 1.5rem;
	}

	p {
		margin-left: 12px;
	}

	a {
		margin-left: 12px;
	}

	a:hover {
		color: #aeaeae;
	}
}

.phoneIcon {
	background-image: url(./assets/phoneIcon.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.emailIcon {
	background-image: url(./assets/emailIcon.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.githubIcon {
	background-image: url(./assets/githubIcon.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.blogIcon {
	background-image: url(./assets/blogIcon.png);
	background-repeat: no-repeat;
	background-size: cover;
}

@media (max-width: 530px) {
	.aboutMeWrap {
		flex-direction: column;
	}

	.progileWrap {
		padding-top: 1rem;
		text-align: center;
	}
}