.aboutMeWrap {
	display: flex;
	justify-content: space-between;
}

.introduction {
	line-height: 1.15;
}

.profileImg {
	height: 250px;
	border-radius: 20px;
}

.description {
	margin-left: 1.5rem;
	padding-top: 1rem;
	list-style-type: disc;

	.list {
		display: flex;
		align-items: center;
		line-height: 2.0rem;
		list-style-type: none;
	}

	.localList {
		display: flex;
		align-items: flex-start;
		line-height: 2.0rem;
		list-style-type: none;
	}

	i {
		width: 1.5rem;
		height: 1.5rem;
	}

	p {
		margin-left: 10px;
	}
}

.iconLink {
	margin-left: 10px;

	&:hover {
		color: #aeaeae;
	}
}

.phoneIcon {
	background-image: url(./assets/phoneIcon.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.emailIcon {
	background-image: url(./assets/emailIcon.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.githubIcon {
	background-image: url(./assets/githubIcon.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.blogIcon {
	background-image: url(./assets/blogIcon.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.localeIcon {
	width: 32px !important;
	height: 33px !important;
	background-image: url(./assets/locale.svg);
	background-repeat: no-repeat;
	background-position-x: -4px;
	background-size: cover;
	cursor: pointer;
}

.localeWrap {
	top: 29rem;
	left: 15rem;
	z-index: 1;
	padding: 8px 24px;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 8px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s ease-out;

	li {
		list-style-type: none;
	}

	&[data-hover='true'] {
		visibility: visible;
		opacity: 1;
	}
}

.localeLink {
	margin-left: 0;
}

@media (max-width: 530px) {
	.aboutMeWrap {
		flex-direction: column;
	}

	.progileWrap {
		padding-top: 1rem;
		text-align: center;
	}
}